.App {
    height: 100vh;
    background-image: -webkit-linear-gradient(145deg, #64e8de, #64bbe8 31%, #4c5dda, #8a64e8);
    background-image: -o-linear-gradient(145deg, #64e8de, #64bbe8 31%, #4c5dda, #8a64e8);
    background-image: linear-gradient(305deg, #64e8de, #64bbe8 31%, #4c5dda, #8a64e8);
    color: #ffffff;
}

#logo {
    margin: 32px;
}

#atom {
    margin: 32px;
}

.jam-title {
    font-family: 'Oswald';
    font-size: 48px;
    letter-spacing: 2px;
}

.vert-spacer {
    height:10vh;
}

.search-anything {
    margin-top: 15px;
    font-family: 'Roboto';
    font-size: 14px;
}

.text-input {
    margin-top:53px;
    width: 400px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.text-input-default {
    opacity: 0.8;
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    line-height: 2.5;
    text-align: left;
    color: #ffffff;
    background-color: transparent;
    border-style: none;
    padding-left: 10px;
    padding-top: 3px;
    width: 97%;
}

.search-rectangle {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 40px;
    border-radius: 100px;
    background-color: #ffffff;
    text-align: center;
    align-content: center;
}

.search-button {
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #3574bc;
    background-color: transparent;
    border-style: none;
    margin: auto;
}
